*{
    box-sizing: border-box;
}
  
body {
   color:white;
   font-family: 'Lato', sans-serif;  
   font-weight: lighter; 
   height: 100%;
   margin: 0; 
   width: 100%;
}
/*header*/
.header{
   background : url('../img/pope.png') no-repeat;
   font-size: 20px;   
   height: 745px;
   width: 1280px;
   margin-left: auto;   
   margin-right: auto;   
   position: relative;   
}

.header__section{
   height: 450px;
    max-width: 500px;
    background: rgba(20,20,20,35%);
    position: relative;    
}

.header__section__article{
    margin : 40px 32px 0 32px; 
}

.header__section__fotter{
    bottom: 0;
    width: 100%;
    height: 80px;    
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.header__section__fotter_item{
    display: inline-block;
    height: 100%;
    width: 50%;   
    text-align: center;
   
}

.header__section__fotter_item img{
    width: 40px;

}

.header__section__fotter_item--left{  
    background-color: rgba(46,188,181,0.8); 
}

.header__section__fotter_item--right{  
    background-color: rgba(250,174,48,0.8);
   float: right;
}

.header__section__fotter_item--right img{  
    transform: rotate(180deg);
}

.header__fotter{
    bottom: 0;
    height: 50px;
    width: 100%;
    position: absolute;
}

.header__fotter__item{
    height: 100%;
    width: 50%;
    display: inline-block;   
}

.header__fotter--left{
background: #707070;
}
.header__fotter--left p{
text-align: right;
    }

.header__fotter--right{
 background: #ffffff;
 float: right;
}

.header__fotter--right p{
    text-align: left;
color : #464646;
}

.navbar{   
   height: 152px;
   width: 100%;
   background: rgba(20,20,20,25%);
   margin-bottom: 20px;
}

.navbar__section{
    display: inline-block; 
}

.navbar__section--rigth{
    float : right; 
}

.navbar__section__item{
   list-style: none;
   display: inline-block;
}

.navbar__section a{
    color :white;
    text-decoration: none;
}

.navbar__section__item img{
    vertical-align: middle;
    width: 30px;    
}

.wrapper{
    width: 1024px;
    margin:auto;
}

