*{
    box-sizing: border-box;
}
  
body {
    color:white;
    font-family: 'Lato', sans-serif;  
    font-weight: lighter; 
    height: 100%;
    margin: 0; 
    width: 100%;
}
/*header*/
.header{
    background : url('../img/pope.png') no-repeat;
    height: 745px;    
    margin-left: auto;   
    margin-right: auto;   
    position: relative;  
    width: 100%; 
}

.header__section{
    background: rgba(20,20,20,40%);
    height: 450px;
    max-width: 500px;    
    position: relative;    
}

.header__section__article{
    font-weight: lighter;
    padding : 25px 32px 0 32px; 
    position: absolute;
}

.header__section__article__link a{
    color: white;
    font-size:12px;
}

.header__section__article__title{
    font-weight: normal;
    font-size: 60px;
    margin: 0;  
}

.header__section__article__title span{
    display: block;    
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: -6px;   
}

.header__section__article__text{
    font-size: 23px;
    margin-top: 8px;
}

.header__section__article__icon{
    width: 18px;
}

.header__section__footer{
    bottom: 0;    
    height: 80px;    
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.header__section__footer_item{
    display: inline-block;
    height: 100%;       
    text-align: center;
    width: 50%;   
}

.header__section__footer_item img{
    vertical-align: middle;
    width: 40px;
}

.header__section__footer_item--left{  
    background-color: rgba(46,188,181,0.8); 
}

.header__section__footer_item--right{  
    background-color: rgba(250,174,48,0.8);
    float: right;
}

.header__section__footer_item--right img{  
    transform: rotate(180deg);
}

.header__footer{
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}

.header__footer__item{
    display: inline-block;
    height: 100%;       
}

.header__footer--left{
    background: #70707050;
    width: 32%;
}
.header__footer--left p{
    font-size: 15px;
    text-align: right;
}

.header__footer--right{
    background: #ffffff50;
    float: right;
    width: 68%;
}

.header__footer--right p{
    color : #464646;
    text-align: left;
}

.header__footer--left::after {
    border-top: 5px solid transparent;
    border-left: 7px solid #3a3a3a45;
    border-bottom: 7px solid transparent;
    content: "";
    height: 0;
    left: 32%;
    position: absolute;
    top: 40%;
    width: 0;
    z-index: 2;
}

.navbar{   
    background: rgba(20,20,20,25%);
    height: 145px;  
    margin-bottom: 26px;
    padding-top: 35px;
    width: 100%;
}

.navbar__section{
    display: inline-block; 
}

.navbar__section h1{
    font-weight: 380;
    font-size: 30px;
    margin :0;
}

.navbar__section--rigth{
    float : right; 
}

.navbar__section__item{
    display: inline-block;
    list-style: none;
}

.navbar__section a{
    color :white;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 40px;
    text-decoration: none;
}

.navbar__section__item img{
    vertical-align: middle;
    width: 30px;    
}

.wrapper{    
    margin:auto;
    width: 100%;
}
/* Speak*/
.section__speak{
    background: #ebebeb;
    color: #3a3a3a;
    display: flex;          
    height: auto;
    margin-top: 40px;
    width: 100%;
}
/*Vote*/
.section__votes__title{
    color : #3a3a3a;    
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
}

.candidate__container{
    align-items : center;
    display: flex;
    flex-direction: column;       
}

.candidate{
    height: 550px;
    margin-bottom: 40px;
    width: 490px;
}

.candidate__name{
    font-size: 39px;
    margin-bottom: 0;
}

.candidate--1{
    background: url('../img/kanye-west.png');
}

.candidate--2{
    background: url('../img/mark.png');    
}

.candidate--3{
    background: url('../img/cristina.png');
}

.candidate--4{
    background: url('../img/malala.png');
}

.vote__footer{
    align-items: center;
    border :1px solid  #3a3a3a;
    color: #3a3a3a;
    display : flex;   
    height: 80px;
    justify-content: space-between;
    text-align: center;
    width: 100%;   

}

.vote__footer__text{
    display: inline-block;
    font-weight: 150;
    font-size: 30px;
    margin-left: 15px;
}

.vote__footer__link{
    border: 1px solid #3a3a3a;
    color: #3a3a3a;
    font-weight: 150;
    font-size: 20px;
    margin:10px 25px 10px 25px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}

@media (min-width: 1300px) { 
    .header{
        width: 1280px; 
    }

    .wrapper{
        width: 1024px;
    }

    .candidate__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section__votes__title{
        text-align: left;
    }
}